#Content{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
  }

  #sidebar{
    /* height: 90vh; */
    width: 100%;
  
  }
  
  #mapcomponent{
    height: 90vh;
    width: 100%;
  }


  .appComponents{
    border: 1px solid black;
  }