#analysisContainer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.button{
    margin: 0 20px;
}



#analysisWindowContainer{
    width: 500px;
    height: 200px;
    margin: auto;
    position: relative;
    
    border: 1px solid black;
    background-color: white;

    padding: 50px;

}

#select{
    z-index: 3;
}

#featureSelect{

    z-index: 3;
}